[Desktop Entry]
Version=1.0
Name=Gmail
Exec=omarchy-launch-webapp --browser chrome https://gmail.google.com
Terminal=false
Type=Application
Icon=gmail
StartupNotify=true
