[Desktop Entry]
Version=1.0
Name=Google Messages
Exec=omarchy-launch-webapp --browser chrome https://messages.google.com/web/conversations
Terminal=false
Type=Application
Icon=google-messages
StartupNotify=true
