[Desktop Entry]
Version=1.0
Name=YouTube
Exec=omarchy-launch-webapp --browser chrome https://youtube.com/
Terminal=false
Type=Application
Icon=youtube
StartupNotify=true
